/*colors*/
$color_gitlab_dark_purple: #171321;
$color_gitlab_orange: #FCA326; 
$color_white: #fff;
$color_body: rgb(226, 223, 209);
/*Breakpoints*/
$bp-phone-small: 419.98px;
$bp-phone: 575.98px;
$bp-tablet-small: 767.98px;
$bp-tablet: 991.98px;
$bp-desktop-small: 1199.98px;
$bp-desktop: 1399.98px;
$bp-content-shift: 1719.98px;
$bp-ultra: 1799.98px;
/*Font*/
$bold: Bold;
$light: Light;